---
layout: layout
---
<!-- Main Content -->
<div class="container">
    <div class="row">
        <% if(config.sidebar == false) { %>
<!-- NO SIDEBAR -->
    <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
                <%- page.content || body %>
            </div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                <% if(config['featured-tags']) { %>
                <section>
                    <!-- no hr -->
                    <h5><a href="<%= config.root %>tags/">FEATURED TAGS</a></h5>
                    <div class="tags">
                        <% site.tags.map(function(tag){  %>
                            <% if(tag.length > config['featured-condition-size']) { %>
                            <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>" rel="<%= tag.length %>"><%= tag.name %></a>
                            <% } %>
                        <% }) %>
                    </div>
                </section>
                <% }%>


                <!-- Friends Blog -->
                <% if(config.friends) { %>
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">

                    <% config.friends.forEach(function(friend){ %>
                        <li><a href="<%= friend.href %>"><%= friend.title %></a></li>
                    <% }); %>
                </ul>
                <% }%>
            </div>
        <%} else { %>

<!-- USE SIDEBAR -->
    <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
            ">
            
                <%- page.content || body %>

                <br>

                <!-- require APlayer -->
                <% if(page.aplayer) { %>
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.css">
                    <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10/dist/APlayer.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/meting@1.2/dist/Meting.min.js"></script>
                
                    <div class="aplayer"
                        data-id="<%= config['data-id'] %>"
                        data-server="<%= config['data-server'] %>"
                        data-type="<%= config['data-type'] %>"
                        data-fixed="<%= page.fixed %>" >
                    </div>
                <% } %>

                <!-- 如果开启评论功能 -->
                <% if(page.comments) { %>
                    <hr>

                    <% if(config['duoshuo_username']) { %>
                    <!-- 多说评论框 start -->
                    <div class="comment">
                        <div class="ds-thread"
                            data-thread-key="<%= page.path %>"
                            data-title="<%= page.title %>"
                            data-url="<%= page.permalink %>" >
                        </div>
                    </div>
                    <!-- 多说评论框 end -->
                    <% } %>

                    <% if(config['disqus_username']) { %>
                    <!-- disqus 评论框 start -->
                    <div class="comment">
                        <div id="disqus_thread" class="disqus-thread"></div>
                    </div>
                    <!-- disqus 评论框 end -->
                    <% } %>

                    <% if(config['livere_uid']) { %>
                        <!-- disqus 评论框 start -->
                        <div class="comment">
                            <div id="lv-container" data-id="city" data-uid="<%= config['livere_uid'] %>"></div>
                        </div>
                        <!-- disqus 评论框 end -->
                    <% } %>

                    <% if(config['duoshuo_username']) { %>
                    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                    <script type="text/javascript">
                        // dynamic User by Hux
                        var _user = '<%= config['duoshuo_username'] %>';

                        // duoshuo comment query.
                        var duoshuoQuery = {short_name: _user };
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0]
                             || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
                    </script>
                    <!-- 多说公共JS代码 end -->
                    <% } %>

                    <% if(config['changyan_appid']) { %>

                <!-- 代码1：放在页面需要展示的位置  -->
                <!-- 如果您配置过sourceid，建议在div标签中配置sourceid、cid(分类id)，没有请忽略  -->
                <div id="cyReward" role="cylabs" data-use="reward" sourceid="<%= page.path %>"></div>
                <!-- 代码2：用来读取评论框配置，此代码需放置在代码1之后。 -->
                <!-- 如果当前页面有评论框，代码2请勿放置在评论框代码之前。 -->
                <!-- 如果页面同时使用多个实验室项目，以下代码只需要引入一次，只配置上面的div标签即可 -->
                <script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
                <script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cyu1mGFzH"></script>

                <!--PC和WAP自适应版-->
                <div id="SOHUCS" sid="<%= page.path %>" ></div>
                <script type="text/javascript">
                  (function(){
                    var appid = "<%= config['changyan_appid'] %>";
                    var conf = 'prod_882c69b38d5375d650c3081183a2458a';
                    var width = window.innerWidth || document.documentElement.clientWidth;
                    if (width < 960) {
                      window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
                </script>
                <% } %>

                    <% if(config['disqus_username']) { %>
                    <!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = "<%= config['disqus_username'] %>";
                        var disqus_identifier = "<%= page.permalink %>";
                        var disqus_url = "<%= page.permalink %>";

                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();

                        
                    </script>
                    <!-- disqus 公共JS代码 end -->
                    <% } %>

                    <% if(config['livere_uid']) { %>
                    <!-- 来必力City版公共JS代码 start (一个网页只需插入一次) -->
                    <script type="text/javascript">
                       (function(d, s) {
                           var j, e = d.getElementsByTagName(s)[0];
                    
                           if (typeof LivereTower === 'function') { return; }
                    
                           j = d.createElement(s);
                           j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                           j.async = true;
                    
                           e.parentNode.insertBefore(j, e);
                       })(document, 'script');
                    </script>
                    <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
                    <!-- 来必力City版 公共JS代码 end -->
                    <% } %>

                <% } %>
            </div>

          <%- partial('_partial/sidebar') %>

        <%} %>
    </div>
</div>
